.body, .head .row {
    border: 2px black solid;
}

.store .row {
    border: 2px black solid;
}

.col-lg-auto:hover {
     background-color: aqua;
}

.store span:hover  {
    background-color: maroon;
}

.info .col-lg-2 {
    border: 1px black solid;
}

.info .col-lg {
    border: 1px black solid;
}

a {
    text-decoration: none;
    color: black;
}
