.search {
    display: inline;

    &__bar {
        font-size: $sm-font-size;
        margin: 0 10px 0 5px;
        vertical-align: middle;
        width: 0;
        opacity: 0;
        transition: 1s;

        &--active {
            opacity: 1;
            width: 40%;
        }
    }

    &__image {
        width: 30px;
        vertical-align: middle;

        &-container {
            display: inline-block;
            margin-left: 5px;
        }
    }
}