%top-style {
    display: inline-block;
    font-size: 20px;
    width: 25%;
    text-align:center;
    vertical-align: middle;
    font-family : Impact;
    cursor: pointer;
    padding: 10px 0;
}

%basket-top-style {
    display: inline-block;
    font-size: 20px;
    width: 25%;
    text-align:center;
    vertical-align: middle;
    font-family : Impact;
}

%text-link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

%coin-info {
    @extend %text-link;
    text-align:center;
    width: 25%;
    padding: 20px 0;
    vertical-align: middle;
}

%form__button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

%coin__button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    background: rgb(212,75,56);
    box-shadow: 0 -3px rgb(150, 48, 48) inset;
    transition: 0.2s;
    cursor: pointer;
}