.form-button {
    font-size: $sm-font-size;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;

    &__text {
        font-size: $sm-font-size;
    }

    &--color {
        &--green {
            background-color: greenyellow;  
        }

        &--red {
            background-color: rgb(209, 50, 50);
        }
    }
}
