.info-page {
    font-size: $lg-font-size;

    &__list {
        text-align: center;

        &-item {
            width: 38%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            margin: 20px 0;
        }
    }
}
