@media screen and (min-width:960px) {
    #root {
        font-size: $lg-font-size;
    }
    
    .navigation {
        display: inline;
        &__link {
            margin: 28px 20px; 
            float: right;
        }
    }

    .popular-coins {
        &__info {
            float: left;
        }
    }

    .list-page {
        &__top {
            margin-top: 60px;

            &-item {
                width: 10%;

                &-sm {
                    width: 10%;
                    display: inline-block;
                }
            }
        }

        &__coins-list {
            margin-left: 9%;
        }
    }

    .utils {
        display: flow-root;
    }

    .search {
        &__img {
            float: right;
            margin-right: 10px;
        }

        &__bar {
            float: right;
            margin: 0 5px 0 10px;

            &--active {
                opacity: 1;
                width: 15%;
            }
        }
    }

    .settings {
        &__icon {
            float: right;
        }
    }

    .select {
        &__list {
            margin-left: 9%;  
        }
    }

    .coin {
        width: 90%;
        &__info {
            width: 12.5%;

            &-sm {
                width: 12.5%;
                display: inline-block;
            }
        }

        &__form-input {
            margin-right: 30px;
        }

        &__purchase-info {
            width: 20%;
            margin: 20px auto;
        }
    }

    .form-button {
        &__text {
            font-size: $lg-font-size;
        }
    }

    .basket {
        &__top {
            margin: 70px 0 20px 9%;
            width: 83%;

            &-item {
                width: 20%;
            }
        }

        &__info-string {
            margin: 18% 0 0 -3%;
        }

        &__coins-purchase-list {
            margin-left: 10%;
        }
    }

    .info-page {
        &__form-input {
            font-size: $lg-font-size;
            margin-right: 20px;
        }

        &__list-item {
            margin: 30px 0;
            width: 25%;
        }
    }
    
    .chart {
        font-size: $sm-font-size;
    }
}