.list-page {
    &__top {
        margin-top: 40px;
        padding: 0;
        text-align:center;

        &-item {
            @extend %list-page-top-style;

            &-sm {
                @extend %list-page-top-style;
                display: none;
            }
        }
    }

}
