.pagination {
    &__list {
        text-align: center;
        padding: 0;

        &-item {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding-top: 3px;
            transition: 0.5s;
            cursor: pointer;
            margin: 0 5px;

            &:hover {
                background-color: aqua;
            }

            &--selected {
                font-family : Impact;
            }
        }
    }
}
