.settings {
    display: inline;

    &__icon {
        width: 30px;
        vertical-align: middle;
    }

    &__list {
        position: fixed;
        top: 30%;
        right: 15%;
        background-color: rgb(0, 0, 20);
        color: white;
        border-radius: 20px;
        padding: 10px 15px;

        &-top {
            display: block;
            text-align: center;
        }

        &-item {
            &-text {
                display: inline-block;
                margin-right: 30px;
            }

        }

        &--hidden {
            display: none;
        }

    }
}