.store .row {
    border: 2px black solid;
}

.col-lg-auto:hover {
    background-color: aqua;
}

.store span:hover  {
    background-color: maroon;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.list-page .coins-block .row {
    border: 2px black solid;
    border-radius: 30px;
    margin-top: 3px;
}

.header .row {
    border: 2px black solid;
}

.info-page .container {
    border: 2px black solid;
    border-radius: 30px;
}

.history {
    margin-top: 30px;
}

.selected {
    background-color: aqua;
}

input {
    width: 50px;
    margin-right: 10px;
    font-size: 15px;
}

.none {
    display: none;
}

.error {
    border-color: red;
}

