.top {
    &__list {
        margin-top: 40px;
        padding: 0;
        background-color: rgb(80, 78, 78);
        color: white;
        margin-bottom: 0;

        &-item {
            @extend %top-style;
            display: inline-block;

            &-lg {
                @extend %top-style;
                display: none;
            }

            &-img {
                width: 20px;

                &--hidden {
                    display: none;
                }
            }
        }
    }
}