.form {
    text-align: center;
    vertical-align: middle;

    &__input {
        font-size: $sm-font-size;
        margin: 5px 10px 0 0;

        &-error-text {
            font-size: 15px;
            background-color: #900;
            color: white;
            border-radius: 0 0 5px 5px;
            padding: 10px 0;
            margin-right: 10px;
        }
    }

    &__button {
        @extend %form__button;

        &:hover {
            background: rgb(53, 167, 110);
        }
    
        &-text {
            color: white;
            font-size: $sm-font-size;
        }
    }

    &__text {
        color: gray;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
